@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInLeftSpecial {
  0% {
    right: 0;
    opacity: 0;
    transform: skew(-15deg) translateX(-10rem);
  }

  100% {
    opacity: 0.3;
    transform: skew(-15deg) translateX(-50%);
  }
}

@keyframes moveInRightSpecial {
  0% {
    left: 0;
    opacity: 0;
    transform: skew(15deg) translateX(-10rem);
  }

  100% {
    opacity: 0.3;
    transform: skew(15deg) translateX(-50%);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes heartbeats {
  0% {
    transform: scale(1);
    color: shade(#dc143c, 20%);
  }

  20% {
    transform: scale(1.25);
    color: #dc143c;
  }

  40% {
    transform: scale(1);
    color: shade(#dc143c, 20%);
  }

  60% {
    transform: scale(1.25);
    color: #dc143c;
  }

  80% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
    color: shade(#dc143c, 20%);
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
    bottom: 0;
  }

  100% {
    opacity: 0;
    bottom: 10rem;
  }
}
