*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10px */

  @include respond(85.5em) {
    font-size: 50%;
  }

  @include respond(62.5em) {
    font-size: 40%;
  }
}

body {
  box-sizing: border-box;
}

section {
  max-width: 100vw;
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

::selection {
  background-color: $color-primary-shade;
  color: $color-white;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #2e2e2e;
}

::-webkit-scrollbar-thumb {
  background: rgba(110, 110, 110, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(146, 146, 146);
}
