section div p::before {
  content: "";
  width: 2rem;
  height: 2px;
  background-color: #ff53a9;
}

.typing {
  color: #ff53a9;
}

h1 {
  font-size: 3rem;
  position: relative;
}

h1 span {
  position: absolute;
  font-size: 2rem;
  top: -5px;
  left: -50px;
}

.profession {
  font-size: 1.7rem;
  padding-left: 20px;
}

.introduction--container {
  width: 300px;
}
