.actions {
  display: flex;
  justify-content: center;
}

.all-projects-btn,
.all-projects-btn {
  background: linear-gradient(150deg, #f08c00, #f59f00);
  color: white;
}

.all-projects-btn:hover,
.all-projects-btn:focus {
  color: #f08c00;
  box-shadow: inset 0 0 0 3px#f59f00;
}

.all-projects-btn:hover i,
.all-projects-btn:focus i {
  color: #f59f00;
}
