.section-about {
  @include flexCenter;
  flex-direction: column;
  padding: 5rem 2rem;

  margin: 2rem;
  border: 1px solid #ddd;
}

.section-courses {
  color: $color-white;
  @include flexCenter;
  flex-direction: column;
  padding: 5rem 2rem;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-black, 0.7),
      rgba($color-black, 0.8)
    ),
    url("../assets/backgrounds/courses-background.webp");

  background-size: cover;
  background-position: center;
}

.section-portfolio {
  @include flexCenter;
  flex-direction: column;
  padding: 5rem 2rem;
  margin: 0 auto;

  &__projects {
    @include flexCenter;
    justify-content: space-evenly;
    gap: 1rem;
    width: 100%;

    @include respond(53.5em) {
      flex-wrap: wrap;
    }
  }

  .link {
    display: flex;
    justify-content: center;
  }

  &__cta {
    font-size: $big-font-size;

    &--btn {
      @include flexCenter;
      gap: 1rem;
      font-weight: 500;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }

    &--icon {
      font-size: $big-font-size;
    }
  }
}

.section-contact {
  min-height: 100vh;
  @include flexCenter;
  flex-direction: column;
  gap: 4rem;
  padding: 5rem 2rem;

  color: $color-white;

  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.65)
    ),
    url("../assets/backgrounds/contact-background.webp");

  background-size: cover;
  background-position: center;

  &__text {
    &--title {
      font-size: 6rem !important;
    }

    &--subtitle {
      margin: -0.5rem;
      font-weight: 500;
      font-size: $default-font-size;
      text-transform: uppercase;
      color: $color-primary;
    }

    &--comment {
      font-size: $big-font-size;
      font-weight: 300;
    }
  }

  &__list {
    display: flex;
    gap: 3rem;
    font-size: 1.3rem;

    @include respond(62.5em) {
      flex-direction: column;
      margin-top: 5rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      font-size: $big-font-size;
      color: $color-secondary;
      display: flex;
      align-items: center;
      gap: 1rem;
      transition: all 0.4s;
      padding: 1rem;
      border-radius: 2rem;
    }

    &:hover {
      background-color: rgba($color-black, 0.8);
      color: $color-white;
      transform: scale(1.1) translateY(-1rem);
      box-shadow: rem 1rem 1rem 3px rgba($color-black, 0.2);
    }

    &:hover i,
    & i {
      color: $color-secondary !important;
    }
  }
}
