.navbar {
  background: transparent;
  margin: 10px auto;
  max-width: 1000px;
}

.list {
  display: flex;
  justify-content: space-around;
}

.link {
  display: flex;
  gap: 20px;
  list-style: none;
  color: white;
  padding: 5px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.link a {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: #f59f00;
  border-bottom: 2px solid #f59f00;
}

@media (max-width: 500px) {
  .link {
    flex-direction: column;
    gap: 5px;
  }
}
