.navbar {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  z-index: 999;
  width: 100vw;
  padding: 10px 0 0 0;
  background: rgba(46, 46, 46, 0.95);
}

.navbar-list {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  width: 1000px;
}

/* HOVER ANIMATION
--------------------------------------------- */
.link-container .hover {
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.link-container .hover:before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0px;
  height: 2px;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.45s;
  opacity: 0;
  background-color: #e69500;
}

.link-container:hover .hover:before {
  width: 100%;
  opacity: 1;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.link:link,
.link:visited {
  gap: 10px;
  width: 110%;
  color: white;
  text-decoration: none;
}

.link:hover {
  color: #f59f00;
}

.span {
  color: white;
}

@media (max-width: 500px) {
  .link {
    flex-direction: column;
    gap: 5px;
  }
}
