.navbar {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 50px;
  background: rgba(46, 46, 46, 0.8);
}

.list {
  justify-content: space-around;
  gap: 100px;
}

.link:link,
.link:visited {
  width: 110%;
  color: white;
  text-decoration: none;
}

.link:hover {
  color: #f59f00;
}

.span {
  color: white;
}

@media (max-width: 500px) {
  .link {
    flex-direction: column;
    gap: 5px;
  }
}
