.info-container {
  padding: 3rem 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  max-width: 900px;
}

.box {
  width: 100%;
}

/* TITLE
--------------------------------------------- */
.list-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.list-title::before,
.list-title::after {
  content: "";
  width: 40%;
  height: 10px;
  background-color: #f59f00;
}

.list-title::before {
  border-top-right-radius: 300px;
  border-bottom-left-radius: 300px;
}

.list-title::after {
  border-top-left-radius: 300px;
  border-bottom-right-radius: 300px;
}

.text {
  width: 35%;
  padding: 0 5px;
  text-align: center;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.traits-heading {
  font-size: 1.1rem;
  font-weight: 500;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.last-line {
  width: 500px;
  height: 15px;
  background: #f59f00;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
}

@media (max-width: 600px) {
  .list-title {
    font-size: 1.3rem;
  }

  .list-title::before,
  .list-title::after {
    width: 20%;
  }

  .text {
    width: 60%;
  }

  .list-el div {
    padding: 10px;
  }

  .list-el div img {
    height: 30px !important;
    width: 30px !important;
  }

  .last-line {
    width: 60vw;
  }
}
