.container {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.container p {
  width: 800px;
}

.list {
  padding: 0%;
  width: 900px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
}

.title::before,
.title::after {
  content: "";
  width: 33%;
  height: 2px;
  background-color: #ff53a9;
}

.text {
  width: 34%;
  text-align: center;
}

.list-title {
  font-size: 1.1rem;
  font-weight: 500;
}

.grey {
  filter: grayscale(100%);
}

.icon-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icon-container li {
  background: #2e2e2e;
  color: white;
  border-radius: 50%;
  padding: 15px;
}

.icon-container li:hover {
  transform: scale(1.2);
  filter: none;
}
