*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 10px */ }
  @media only screen and (max-width: 85.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 40%; } }

body {
  box-sizing: border-box; }

section {
  max-width: 100vw;
  overflow: hidden; }

li {
  list-style: none; }

a {
  text-decoration: none; }

button {
  border: none; }

::selection {
  background-color: #cc4287;
  color: #fff; }

::-webkit-scrollbar {
  width: 15px; }

::-webkit-scrollbar-track {
  background: #2e2e2e; }

::-webkit-scrollbar-thumb {
  background: rgba(110, 110, 110, 0.5); }

::-webkit-scrollbar-thumb:hover {
  background: #929292; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInLeftSpecial {
  0% {
    right: 0;
    opacity: 0;
    transform: skew(-15deg) translateX(-10rem); }
  100% {
    opacity: 0.3;
    transform: skew(-15deg) translateX(-50%); } }

@keyframes moveInRightSpecial {
  0% {
    left: 0;
    opacity: 0;
    transform: skew(15deg) translateX(-10rem); }
  100% {
    opacity: 0.3;
    transform: skew(15deg) translateX(-50%); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes heartbeats {
  0% {
    transform: scale(1);
    color: #b01030; }
  20% {
    transform: scale(1.25);
    color: #dc143c; }
  40% {
    transform: scale(1);
    color: #b01030; }
  60% {
    transform: scale(1.25);
    color: #dc143c; }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1);
    color: #b01030; } }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

.heading-primary {
  position: relative;
  font-size: 5rem;
  opacity: 0;
  animation: moveInLeft 1s ease-out 2.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }
  .heading-primary__first-part {
    position: absolute;
    top: 2rem;
    left: -2.5rem;
    font-size: 1.6rem; }

.heading-secondary {
  font-size: 4rem;
  font-weight: 300; }

.heading-tertiary {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.5rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.underline-magical {
  background-image: linear-gradient(140deg, rgba(91, 2, 126, 0.4), rgba(16, 3, 88, 0.4));
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in; }
  .underline-magical:hover {
    background-size: 100% 100%; }

.traits {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 10rem;
  width: 70vw;
  min-height: 40rem;
  flex-direction: column;
  font-size: 1.6rem;
  background: linear-gradient(to right, rgba(14, 5, 71, 0.5), rgba(62, 42, 116, 0.6)), url("/src/assets/backgrounds/traits-background.webp");
  background-size: cover;
  background-position: center;
  clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%); }
  @media only screen and (max-width: 87.5em) {
    .traits {
      width: 90vw; } }
  @media only screen and (max-width: 28.5em) {
    .traits {
      padding: 4rem 5rem; } }
  .traits__list {
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem; }
  .traits__card {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    width: 24rem;
    height: 27rem;
    padding: 2rem;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.85);
    color: #7b7b7b;
    transition: transform 0.3s; }
    .traits__card:hover {
      transform: translateY(-1.5rem); }
    .traits__card--icon {
      font-size: 3rem;
      filter: grayscale(50%);
      opacity: 0.5; }
      .traits__card--icon-1 {
        color: #ff7b00; }
      .traits__card--icon-2 {
        color: #dc143c; }
      .traits__card--icon-3 {
        color: #800080; }
      .traits__card--icon-4 {
        color: #daa520; }
    .traits__card--title {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 2rem; }
    .traits__card--text {
      letter-spacing: 1.5px;
      line-height: 2.5rem; }
  @media only screen and (max-width: 112.5em) {
    .traits__list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem; }
    .traits__card {
      width: 20rem;
      height: 25rem;
      padding: 2rem 1rem; }
      .traits__card--icon {
        font-size: 2.5rem; }
      .traits__card--title {
        margin: 0;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.6rem; }
      .traits__card--text {
        letter-spacing: inherit;
        line-height: inherit; } }

@media only screen and (max-width: 112.5em) and (max-width: 45.5em) {
  .traits__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 28.5em) {
    .traits {
      clip-path: none; } }

.technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 10rem;
  width: 70vw;
  min-height: 40rem;
  flex-direction: column;
  background: linear-gradient(to right, rgba(18, 37, 54, 0.5), rgba(36, 46, 26, 0.6)), url("/src/assets/backgrounds/technologies-background.webp");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%); }
  @media only screen and (max-width: 87.5em) {
    .technologies {
      width: 90vw; } }
  @media only screen and (max-width: 28.5em) {
    .technologies {
      padding: 4rem 5rem; } }
  .technologies__list {
    padding: 0 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem; }
  .technologies__filter-on {
    filter: blur(3px) grayscale(100%); }
  .technologies__item {
    position: relative;
    transition: all 0.3s;
    cursor: pointer; }
    .technologies__item:hover {
      z-index: 100;
      filter: none !important;
      transform: scale(1.2); }
    .technologies__item:hover .technologies__item--text {
      transition: all 0.5s;
      width: max-content;
      padding-left: 3rem;
      color: #fff;
      opacity: 1; }
    .technologies__item--img-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 10;
      padding: 2rem;
      border-radius: 50%;
      background-color: #232323; }
    .technologies__item--text {
      position: absolute;
      top: 50%;
      left: 70%;
      z-index: 1;
      font-weight: 600;
      text-transform: uppercase;
      transform: translateY(-50%);
      transition: all 0.4s 0.2s;
      background-color: rgba(255, 83, 169, 0.8);
      color: transparent;
      opacity: 0;
      display: inline-block;
      width: 0;
      padding: 0.5rem;
      border-radius: 3px; }
      .technologies__item--text:hover {
        display: none !important; }
  @media only screen and (max-width: 112.5em) {
    .technologies__list {
      gap: 1rem;
      padding: 0 !important; }
    .technologies__item--img {
      width: 4rem !important;
      height: 4rem !important; }
    .technologies__item--text {
      position: absolute;
      top: 50%;
      left: 70%;
      z-index: 1;
      font-weight: 600;
      text-transform: uppercase;
      transform: translateY(-50%);
      transition: all 0.4s 0.2s;
      background-color: #ff53a9;
      color: transparent;
      opacity: 0;
      display: inline-block;
      width: 0;
      padding: 0.5rem;
      border-radius: 3px; }
      .technologies__item--text:hover {
        display: none !important; } }
  @media only screen and (max-width: 28.5em) {
    .technologies {
      clip-path: none; } }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .technologies__filter-on {
      filter: none !important; }
    .technologies__item {
      position: relative;
      transition: all 0.3s;
      cursor: pointer; }
      .technologies__item:hover {
        transform: none !important; }
      .technologies__item:hover .technologies__item--text {
        display: none !important; } }

.vignettes {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: #7b7b7b; }
  .vignettes > * {
    padding: 3rem 5rem;
    max-width: 35rem;
    background-color: #eee; }
  .vignettes--1 {
    clip-path: polygon(0 5%, 95% 0, 95% 90%, 5% 100%); }
  .vignettes--2 {
    padding-left: 6rem;
    margin-top: 10rem;
    clip-path: polygon(5% 0, 100% 5%, 90% 100%, 5% 95%); }
  .vignettes__line {
    position: absolute;
    width: 2px;
    height: 20rem;
    padding: 0; }
    .vignettes__line::before, .vignettes__line::after {
      content: "";
      position: absolute;
      z-index: 10;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background-color: #ff916a; }
    .vignettes__line::before {
      top: 2rem;
      right: 4rem; }
    .vignettes__line::after {
      top: 8rem;
      right: -4.5rem; }
  @media only screen and (max-width: 37.5em) {
    .vignettes {
      flex-direction: column;
      margin-top: 2rem; }
      .vignettes > * {
        max-width: 55rem; }
      .vignettes--1 {
        margin-right: 10rem; }
      .vignettes--2 {
        margin-left: 10rem;
        margin-top: 1rem; }
      .vignettes__line {
        background-color: #ff916a; }
        .vignettes__line::before, .vignettes__line::after {
          display: none; } }

.heading {
  padding: 3rem; }
  .heading__subtitle {
    color: #ca2d7c;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500; }
  @media only screen and (max-width: 62.5em) {
    .heading {
      padding: 1rem; } }

.carousel {
  margin: 5rem auto;
  max-width: 120rem; }
  .carousel__box {
    background: #181818;
    border-radius: 3px;
    max-width: 90rem;
    margin: 0 auto;
    padding-bottom: 5rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(35, 35, 35, 0.1); }
  .carousel__img {
    width: 100%;
    height: auto; }

.card {
  border: none !important;
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 55rem;
  width: 40rem;
  margin: 5rem 0;
  border-radius: 3px;
  font-size: 1.6rem;
  cursor: pointer; }
  .card__side {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.8s ease;
    box-shadow: 0 0.5rem 2rem rgba(35, 35, 35, 0.1);
    backface-visibility: hidden; }
    .card__side--back {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      transform: rotateY(180deg);
      color: #eee; }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #e34363, #b01030); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #993399, #660066); }
  .card__picture {
    height: 50%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    background-size: cover;
    background-position: center;
    background-blend-mode: screen; }
    .card__picture-1 {
      background-image: linear-gradient(to right bottom, rgba(114, 16, 36, 0.8), rgba(212, 57, 88, 0.3)), url(../assets/projects/lilys-cuisine.webp); }
    .card__picture-2 {
      background-image: url(../assets/projects/natours.webp); }
    .card__picture-3 {
      background-image: linear-gradient(to right bottom, rgba(86, 1, 134, 0.5), rgba(29, 0, 75, 0.5)), url(../assets/projects/mythical-books.webp); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card__heading {
    position: absolute;
    top: 40%;
    right: 5%;
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    background-color: #232323;
    color: #fff;
    width: auto;
    padding: 1rem 2rem;
    border-radius: 3px; }
  .card__details {
    padding: 1rem; }
  .card__list {
    padding: 0 !important; }
  .card__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3rem;
    gap: 1rem; }
    .card__item:not(:last-child) {
      border-bottom: 1px solid #eee; }
    .card__item--first {
      color: #696969; }
    .card__item--second {
      color: #3f3f3f;
      font-weight: 500;
      text-transform: capitalize; }
  .card__instructions {
    position: absolute;
    bottom: 4rem; }
    .card__instructions--text {
      background-color: #232323;
      border-radius: 3px;
      padding: 1rem 2rem;
      display: flex;
      align-items: baseline;
      gap: 1rem; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      overflow: hidden;
      height: 70rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: 0 0.5rem 2rem rgba(35, 35, 35, 0.1); }
      .card__picture {
        height: 80%; }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          padding: 4rem 0;
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__instructions {
        display: none; }
      .card__heading {
        top: 60%; } }

.btn, .btn:link, .btn:visited {
  position: relative;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border-radius: 1rem;
  transition: all 0.2s;
  font-size: 1.6rem;
  border: 3px solid #fff; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(35, 35, 35, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(35, 35, 35, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  transition: 0.4s; }

.btn--white {
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }
  .btn--white:hover {
    color: #fff;
    background-color: rgba(35, 35, 35, 0.3); }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: #ff53a9;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #ff53a9;
  padding: 3px;
  font-size: 1.6rem;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #ff53a9;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(35, 35, 35, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(35, 35, 35, 0.15); }

.btn--orange {
  border: none;
  background: linear-gradient(150deg, #f08c00, #f59f00);
  color: white; }
  .btn--orange:hover, .btn--orange:focus {
    color: #f08c00;
    background: transparent;
    box-shadow: inset 0 0 0 3px #f59f00, 0 1rem 2rem rgba(35, 35, 35, 0.15); }
  .btn--orange:active {
    box-shadow: inset 0 0 0 3px #f59f00, 0 0.5rem 1rem rgba(35, 35, 35, 0.3); }

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  position: fixed;
  width: 100%;
  padding: 1.5rem 0 0.5rem 0;
  background: rgba(35, 35, 35, 0.9);
  font-size: 1.6rem; }
  .navigation__list {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 0;
    width: 50%; }
  .navigation__item {
    position: relative;
    transition: all 0.2s ease-in-out; }
    .navigation__item:before {
      content: "";
      position: absolute;
      bottom: -5px;
      background-color: #f59f00;
      opacity: 0;
      width: 0;
      height: 2px;
      transition: all 0.4s ease;
      border-bottom-right-radius: 7px;
      border-bottom-left-radius: 7px; }
    .navigation__item:hover:before {
      width: 100%;
      opacity: 1; }
  .navigation__link:link, .navigation__link:visited {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #fff; }
  .navigation__link:hover {
    color: #f59f00; }
  .navigation__span {
    color: #fff; }

.hero {
  min-height: 100vh;
  color: #fff;
  position: relative;
  overflow: hidden !important;
  display: flex;
  justify-content: center;
  background: url("/src/assets/backgrounds/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.6rem; }
  .hero::after, .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 75%;
    height: 100%;
    background-image: linear-gradient(120deg, transparent 0%, #290e29 30%, #161658 80%, transparent 100%);
    opacity: 0.3; }
    @media only screen and (max-width: 37.5em) {
      .hero::after, .hero::before {
        width: 200%; } }
  .hero::before {
    transform: skew(-15deg) translateX(-50%);
    animation: moveInLeftSpecial 1.5s ease; }
  .hero::after {
    transform: skew(15deg) translateX(-50%);
    animation: moveInRightSpecial 1.5s ease; }
  .hero > * {
    z-index: 100; }
  .hero__text--greeting {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: -0.7rem;
    opacity: 0;
    animation: moveInTop 1s ease-out 1.7s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
    .hero__text--greeting::before {
      content: "";
      width: 2rem;
      height: 2px;
      background-color: #ff53a9; }
  .hero__text--professions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
    font-size: 2.5rem;
    opacity: 0;
    animation: moveInRight 1s ease-out 2.7s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
    .hero__text--professions-typing {
      width: 80%;
      color: #ff53a9; }

.footer {
  border-top: 2px solid #e69500;
  background-color: #232323;
  color: #fff;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .footer__text {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; }
  .footer__link:link, .footer__link:visited {
    position: relative;
    transition: all 0.2s ease-in-out;
    color: #fff; }
  .footer__link::before {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    height: 2px;
    width: 0;
    opacity: 0;
    transition: all 0.1s ease-in-out;
    transition-duration: 0.45s;
    background-color: #c47f00;
    border-bottom-right-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem; }
  .footer__link:hover::before {
    width: 100%;
    opacity: 1; }
  .footer__link:hover .footer__icon--react {
    animation: spin 3s linear infinite; }
  .footer__icon {
    display: inline-block;
    padding: 0 1rem !important; }
    .footer__icon--heart {
      cursor: pointer;
      color: #dc143c;
      transition: all 0.5s; }
      .footer__icon--heart:hover {
        animation: heartbeats 1s linear infinite; }
    .footer__icon--react {
      color: #61dbfb; }

.section-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 2rem;
  margin: 2rem;
  border: 1px solid #ddd; }

.section-courses {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 2rem;
  background-image: linear-gradient(to right bottom, rgba(35, 35, 35, 0.7), rgba(35, 35, 35, 0.8)), url("../assets/backgrounds/courses-background.webp");
  background-size: cover;
  background-position: center; }

.section-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 2rem;
  margin: 0 auto; }
  .section-portfolio__projects {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    width: 100%; }
    @media only screen and (max-width: 53.5em) {
      .section-portfolio__projects {
        flex-wrap: wrap; } }
  .section-portfolio .link {
    display: flex;
    justify-content: center; }
  .section-portfolio__cta {
    font-size: 2.5rem; }
    .section-portfolio__cta--btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      font-weight: 500;
      box-shadow: 0 1rem 2rem rgba(35, 35, 35, 0.2); }
    .section-portfolio__cta--icon {
      font-size: 2.5rem; }

.section-contact {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  padding: 5rem 2rem;
  color: #fff;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.65)), url("../assets/backgrounds/contact-background.webp");
  background-size: cover;
  background-position: center; }
  .section-contact__text--title {
    font-size: 6rem !important; }
  .section-contact__text--subtitle {
    margin: -0.5rem;
    font-weight: 500;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #ff53a9; }
  .section-contact__text--comment {
    font-size: 2.5rem;
    font-weight: 300; }
  .section-contact__list {
    display: flex;
    gap: 3rem;
    font-size: 1.3rem; }
    @media only screen and (max-width: 62.5em) {
      .section-contact__list {
        flex-direction: column;
        margin-top: 5rem; } }
  .section-contact__item {
    display: flex;
    align-items: center;
    gap: 1rem; }
  .section-contact__link:link, .section-contact__link:visited {
    font-size: 2.5rem;
    color: #f59f00;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 0.4s;
    padding: 1rem;
    border-radius: 2rem; }
  .section-contact__link:hover {
    background-color: rgba(35, 35, 35, 0.8);
    color: #fff;
    transform: scale(1.1) translateY(-1rem);
    box-shadow: rem 1rem 1rem 3px rgba(35, 35, 35, 0.2); }
  .section-contact__link:hover i,
  .section-contact__link i {
    color: #f59f00 !important; }
