.carousel {
  margin: 5rem auto;
  width: 120rem;

  @include respond(62.5em) {
    width: auto;
  }

  &__box {
    background: #181818;
    border-radius: 3px;
    max-width: 90rem;
    margin: 0 auto;
    padding-bottom: 5rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.1);

    @include respond(62.5em) {
      width: 90%;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }
}
