.card {
  border: none !important;
  position: relative;

  perspective: 150rem;
  -moz-perspective: 150rem;

  height: 55rem;
  width: 40rem;
  margin: 5rem 0;
  border-radius: 3px;

  font-size: $default-font-size;
  cursor: pointer;

  &__side {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    transition: all 0.8s ease;
    box-shadow: 0 0.5rem 2rem rgba($color-black, 0.1);
    backface-visibility: hidden;

    &--back {
      @include flexCenter;
      flex-direction: column;
      gap: 1rem;

      transform: rotateY(180deg);
      color: #eee;

      &-1 {
        background-image: linear-gradient(to right bottom, #e34363, #b01030);
      }

      &-2 {
        background-image: linear-gradient(to right bottom, #993399, #660066);
      }

      &-3 {
        background-image: linear-gradient(to right bottom, #4c2771, #261439);
      }
    }
  }

  &__picture {
    height: 50%;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    background-size: cover;
    background-position: center;
    background-blend-mode: screen;

    &-1 {
      background-image: linear-gradient(
          to right bottom,
          rgba(114, 16, 36, 0.8),
          rgba(212, 57, 88, 0.3)
        ),
        url(../assets/projects/lilys-cuisine.webp);
    }

    &-2 {
      background-image: linear-gradient(
          to right bottom,
          rgba(86, 1, 134, 0.5),
          rgba(29, 0, 75, 0.5)
        ),
        url(../assets/projects/mythical-books.webp);
    }

    &-3 {
      background-image: linear-gradient(
          to right bottom,
          rgba(86, 1, 134, 0.5),
          rgba(29, 0, 75, 0.5)
        ),
        url(../assets/projects/go-scrum.webp);
    }
  }

  &__btn-source-code {
    &:link,
    &:visited {
      background-color: tint($color-black, 5%);
      color: rgb(133, 135, 255);
      padding: 0.5rem 4rem;
      margin-top: 1rem;
      border-radius: 3px;
      transition: all 0.2s;
    }

    &:hover,
    &:focus {
      transform: translateY(-2px);
    }
  }

  //   MOVEMENT WHEN HOVERED:
  &:hover &__side--back {
    transform: rotateY(0);
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &__heading {
    position: absolute;
    top: 40%;
    right: 5%;

    font-size: $big-font-size;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;

    background-color: #232323;
    color: $color-white;

    width: auto;
    padding: 1rem 2rem;
    border-radius: 3px;
  }

  &__details {
    padding: 1rem;
  }

  &__list {
    padding: 0 !important;
  }

  &__item {
    @include flexCenter;
    padding: 1.3rem;
    gap: 1rem;

    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }

    &--first {
      color: #696969;
    }

    &--second {
      color: #3f3f3f;
      font-weight: 500;
      text-transform: capitalize;
    }
  }

  &__instructions {
    position: absolute;
    bottom: 4rem;

    &--text {
      background-color: $color-black;
      border-radius: 3px;
      padding: 1rem 2rem;

      display: flex;
      align-items: baseline;
      gap: 1rem;

      & code {
        color: $color-primary-tint;
      }
    }
  }

  @include respond(50em) {
    height: 55rem;
    width: 80vw;
    margin: 1rem 0;
    font-size: $default-font-size;

    &__side {
      &--back {
        margin-top: -2rem;
        padding: 2rem 0 !important;
        flex-direction: row;
        gap: 2rem;
      }
    }

    &__btn-source-code {
      &:link,
      &:visited {
        padding: 1rem 4rem;
        margin-top: 0.5rem;
      }
    }

    &__list {
      font-size: 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &__item {
      @include flexCenter;
      padding: 1.3rem;
      gap: 1rem;

      &:not(:last-child) {
        border-bottom: 1px solid #eee;
      }

      &--first {
        color: #696969;
      }

      &--second {
        color: #3f3f3f;
        font-weight: 500;
        text-transform: capitalize;
      }
    }

    &__instructions {
      position: absolute;
      bottom: 4rem;

      &--text {
        background-color: $color-black;
        border-radius: 3px;
        padding: 1rem 2rem;

        display: flex;
        align-items: baseline;
        gap: 1rem;

        & code {
          color: $color-primary-tint;
        }
      }
    }
  }

  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    overflow: hidden;
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0.5rem 2rem rgba($color-black, 0.1);

    &__picture {
      height: 80%;
    }

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        h3 {
          display: none;
        }

        padding: 4rem 0;
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__instructions {
      display: none;
    }

    &__heading {
      top: 60%;
    }
  }

  @media only screen and (max-width: 90em) {
    height: fit-content;

    &__picture {
      height: 8rem;

      &-1 {
        background-image: linear-gradient(to right bottom, #e34363, #b01030);
      }

      &-2 {
        background-image: linear-gradient(to right bottom, #993399, #660066);
      }

      &-3 {
        background-image: linear-gradient(to right bottom, #4c2771, #261439);
      }
    }

    &__heading {
      text-align: center;
      top: 1rem;
      left: 50%;
      transform: translateX(-50%);

      font-size: 3rem;
      font-weight: 500;
      white-space: nowrap;
      width: fit-content;
      background-color: transparent;
    }

    &__item {
      justify-content: flex-start;
    }
  }
}
