.languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  &__list {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 3px;
    pointer-events: none;
    column-gap: 2rem;
    row-gap: 1rem;
    padding: 0;

    &:hover > * {
      filter: blur(1px) grayscale(100%);
    }
  }

  &__item {
    border: 1px solid ridge;
    padding: 5rem 18rem;
    transition: all 0.4s;
    pointer-events: auto;

    &--flag {
      position: relative;
      font-size: 2rem;
      margin-bottom: -1rem;
      padding-left: 2rem;

      span {
        position: absolute;
        bottom: 0;
        left: 8rem;
        color: tint($color-white, 20%);
        font-size: 3rem;
        text-shadow: 2px 2px 7px $color-black;
      }
    }

    &--level {
      p {
        text-align: end;
        padding-right: 2rem;
        font-size: 1.4rem;
        text-transform: uppercase;
        margin-bottom: -1rem;
        color: tint($color-white, 20%);
      }
    }

    &--1 {
      background: linear-gradient(
          to bottom,
          rgba($color-black, 0.4),
          rgba($color-black, 0.8)
        ),
        url("../assets/backgrounds/spain-background.webp");

      clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
      border-top-left-radius: 20rem;
      margin-right: -5.5rem;
    }

    &--2 {
      background: linear-gradient(
          to bottom,
          rgba($color-black, 0.2),
          rgba($color-black, 0.6)
        ),
        url("../assets/backgrounds/usa-background.webp");

      clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
      border-top-right-radius: 20rem;
      margin-left: -5.5rem;
    }

    &--3 {
      background: linear-gradient(
          to bottom,
          rgba($color-black, 0.4),
          rgba($color-black, 0.7)
        ),
        url("../assets/backgrounds/italy-background.webp");

      clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 0% 100%);
      border-bottom-left-radius: 20rem;
      margin-right: -5.5rem;
    }

    &--4 {
      background: linear-gradient(
          to bottom,
          rgba($color-black, 0.4),
          rgba($color-black, 0.9)
        ),
        url("../assets/backgrounds/japan-background.webp");

      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 15% 100%);
      border-bottom-right-radius: 20rem;
      margin-left: -5.5rem;
    }

    &--1,
    &--2,
    &--3,
    &--4 {
      background-size: 100%;
      background-position: center;
    }

    & img {
      width: 5rem;
      height: 5rem;
    }

    &:hover {
      filter: none;
      background-size: 110%;
    }
  }

  @include respond(68em) {
    &__item {
      padding: 5rem 15rem;

      &--1,
      &--3 {
        margin-right: -5rem;
      }

      &--2,
      &--4 {
        margin-left: -5rem;
      }
    }
  }

  @include respond(50em) {
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80vw;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 5rem;
      width: 90%;

      &--1 {
        border-top-left-radius: 10rem;
        border-top-right-radius: 10rem;
      }

      &--2,
      &--3 {
        border-radius: 0;
      }

      &--4 {
        border-bottom-right-radius: 10rem;
        border-bottom-left-radius: 10rem;
      }

      &--1,
      &--2,
      &--3,
      &--4 {
        clip-path: none;
        margin: 0;
      }

      &--flag {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-bottom: 0;
        padding-left: 0;

        span {
          position: relative;
          left: 0;
        }
      }
    }
  }

  @include respond(33em) {
    &__item {
      padding: 3rem;
      flex-direction: column;

      &--flag {
        & img {
          width: 4rem;
          height: 4rem;
        }
      }

      &--level {
        p {
          display: none;
        }
      }
    }
  }

  @include respond(27em) {
    &__item {
      background-size: 150%;

      &:hover {
        background-size: 170%;
      }
    }
  }
}
