.technologies {
  @include flexCenter;
  @include container;

  flex-direction: column;

  background: linear-gradient(
      to right,
      rgba(18, 37, 54, 0.5),
      rgba(36, 46, 26, 0.6)
    ),
    url("/src/assets/backgrounds/technologies-background.webp");

  background-size: cover;
  background-position: center;
  clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);

  &__list {
    pointer-events: none;

    padding: 0 5rem;
    @include flexCenter;
    flex-wrap: wrap;
    gap: 3rem;

    &:hover > * {
      filter: blur(3px) grayscale(100%);
    }
  }

  &__item {
    pointer-events: auto;

    position: relative;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      filter: blur(0) grayscale(0%) !important;
      z-index: 100;
      transform: scale(1.2);
    }

    &:hover &--text {
      width: max-content;
      padding-left: 3rem;
      color: $color-white;
      opacity: 1;
    }

    &--img-container {
      @include flexCenter;
      position: relative;
      z-index: 10;

      padding: 2rem;
      border-radius: 50%;
      background-color: $color-black;
    }

    &--text {
      position: absolute;
      top: 50%;
      left: 70%;

      z-index: 1;

      font-weight: 600;
      text-transform: uppercase;

      transform: translateY(-50%);
      transition: all 0.4s;

      background-color: rgba($color-primary, 0.8);
      color: transparent;
      opacity: 0;

      display: inline-block;

      width: 0;
      padding: 0.5rem;
      border-radius: 3px;

      &:hover {
        display: none !important;
      }
    }
  }

  @include respond(112.5em) {
    &__list {
      gap: 1rem;
      padding: 0 !important;
    }

    &__item {
      &--img {
        width: 4rem !important;
        height: 4rem !important;
      }

      &--text {
        position: absolute;
        top: 50%;
        left: 70%;

        z-index: 1;

        font-weight: 600;
        text-transform: uppercase;

        transform: translateY(-50%);
        transition: all 0.4s 0.2s;

        background-color: $color-primary;
        color: transparent;
        opacity: 0;

        display: inline-block;

        width: 0;
        padding: 0.5rem;
        border-radius: 3px;

        &:hover {
          display: none !important;
        }
      }
    }
  }

  @include respond(28.5em) {
    clip-path: none;
  }

  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    &__filter-on {
      filter: none !important;
    }

    &__item {
      position: relative;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        transform: none !important;
      }

      &:hover &--text {
        display: none !important;
      }
    }
  }
}
