.thin-line {
  position: relative;
  height: 2px;
  background-color: $color-light-grey;
  margin: 4rem;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: $color-orange;
  }

  &::before {
    left: -3rem;
  }

  &::after {
    right: -3rem;
  }

  &--small {
    width: 60%;
  }

  &--big {
    width: 100%;
  }
}
