.traits {
  @include flexCenter;
  @include container;

  flex-direction: column;
  font-size: $default-font-size;

  background: linear-gradient(
      to right,
      rgba(14, 5, 71, 0.5),
      rgba(62, 42, 116, 0.6)
    ),
    url("/src/assets/backgrounds/traits-background.webp");

  background-size: cover;
  background-position: center;

  clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);

  &__list {
    padding: 0 !important;
    @include flexCenter;
    gap: 3rem;
  }

  &__card {
    @include flexCenter;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;

    width: 24rem;
    height: 27rem;
    padding: 2rem;
    border-radius: 3px;
    background-color: rgba($color-white, 0.9);
    color: tint($color-black, 35%);
    transition: transform 0.3s;

    &:hover {
      transform: translateY(-1.5rem);
    }

    &--icon {
      font-size: 3rem;
      filter: grayscale(50%);
      opacity: 0.5;

      &-1 {
        color: #ff7b00;
      }

      &-2 {
        color: #dc143c;
      }

      &-3 {
        color: #800080;
      }

      &-4 {
        color: #daa520;
      }
    }

    &--title {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 2rem;
    }

    &--text {
      letter-spacing: 1.5px;
      line-height: 2.5rem;
    }
  }

  @include respond(112.5em) {
    &__list {
      @include flexCenter;
      gap: 2rem;
    }

    &__card {
      width: 20rem;
      height: 25rem;
      padding: 2rem 1rem;

      &--icon {
        font-size: 2.5rem;
      }

      &--title {
        margin: 0;
        text-transform: uppercase;
        font-weight: 300;
        font-size: $default-font-size;
      }

      &--text {
        letter-spacing: inherit;
        line-height: inherit;
      }
    }

    @include respond(45.5em) {
      &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  @include respond(28.5em) {
    clip-path: none;
  }
}
