.hero {
  @include flexCenter;
  flex-direction: column;

  font-size: $default-font-size;

  &__text {
    &--greeting {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: -0.7rem;

      opacity: 0;
      animation: moveInTop 1s ease-out;
      @include forwardAnim;

      &::before {
        content: "";
        width: 2rem;
        height: 2px;
        background-color: $color-primary;
      }
    }

    &--professions {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;

      width: 100%;
      font-size: $big-font-size;

      opacity: 0;
      animation: moveInRight 1s ease-out 1.2s;
      @include forwardAnim;

      &-typing {
        width: 80%;
        color: $color-primary;
      }
    }
  }
}
