section {
  max-width: 100vw;
  overflow: hidden;
  color: white;
  min-height: 100vh;
  background-color: #2e2e2e;
  padding: 1.5rem 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

/* FLEXBOX
  =========================== */
.flex {
  display: flex;
}

.h-centered {
  align-items: center;
}

.aligned {
  align-items: center;
}

.v-centered {
  justify-content: center;
}

.centered {
  justify-content: center;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}
/* ======================== */

.underline--magical {
  background-image: linear-gradient(120deg, #ff53a9 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 120% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.underline--magical:hover {
  background-size: 100% 88%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.pointer {
  cursor: pointer;
}

#about,
#portfolio {
  background-color: #fff;
  color: #2e2e2e;
}

@media (max-width: 1200px) {
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: none;
  }
}

#home {
  display: flex;
  justify-content: center;
  background: url("/src/imgs/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#home::after,
#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: skew(15deg) translateX(-50%);
  width: 75%;
  height: 100%;
  background-image: linear-gradient(120deg, rgb(41, 14, 41), rgb(22, 22, 88));
  background-color: rgb(41, 14, 41);
  opacity: 0.3;
}

#home::before {
  transform: skew(-15deg) translateX(-50%);
}

#home * {
  z-index: 100;
}
