section {
  width: 100vw;
  overflow: hidden;
  color: white;
  min-height: 100vh;
  background-color: #2e2e2e;
  padding-bottom: 10rem;
}

header {
  padding: 0 0 2rem 10rem;
  border-bottom: 1px solid #ff53a9;
}

.heading {
  font-size: 2.5rem;
}

.sub-heading {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #ff53a9;
}

a {
  text-decoration: none !important;
}

/* FLEXBOX
=========================== */
.flex {
  display: flex;
}

.h-centered {
  align-items: center;
}

.v-centered {
  justify-content: center;
}

.centered {
  justify-content: center;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}
/* ======================== */

.underline--magical {
  background-image: linear-gradient(120deg, #ff53a9 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 120% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.underline--magical:hover {
  background-size: 100% 88%;
}

.inline-blk {
  display: inline-block;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.g-10px {
  gap: 10px;
}

.c-white {
  color: white;
}

.pointer {
  cursor: pointer;
}

.no-txt-line {
  text-decoration: none;
}

.overflow-hdn {
  overflow: hidden;
}

.mrg-auto {
  margin: 0 auto;
}
