.header {
  padding: 2rem 3rem 2rem 10rem;
}

.heading {
  font-size: 2.5rem;
}

.subheading {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem 3rem;
  }
}

@media (max-width: 600px) {
  .heading {
    font-size: 2rem;
  }
}

.default {
  border-bottom: 2px solid #ff53a9;
}

.default .subheading {
  color: #ff53a9;
}

.portfolio-heading,
.about-heading {
  border-bottom: 2px solid #ca2d7c;
}

.portfolio-heading .subheading,
.about-heading .subheading {
  color: #ca2d7c;
}
