.carousel-container {
  margin: 50px auto;
  max-width: 1200px;
}

.img-box {
  background: #181818;
  border-radius: 7px;
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 50px;
}

.img {
  width: 100%;
}

@media (max-width: 1000px) {
  .img-box {
    border-radius: 0px;
  }
}
